/*@import url('font-awesome.min.css');*/
/*@import url('xeicon.min.css');*/
/*@import url('themify-icons.min.css');*/
/*@import url('bootstrap.min.css');*/
@import url('bootstrap-datetimepicker.min.css');
@import url('jquery-ui.min.css');
@import url('jquery.mCustomScrollbar.css');
@import url('audioplayer.css');
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-style: normal;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Thin-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Thin-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    font-style: normal;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Light-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Light-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-style: normal;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-DemiLight-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Regular-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Regular-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-style: normal;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Medium-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Medium-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-style: normal;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Bold-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 900;
    font-style: normal;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Black-Hestia.eot),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(/fonts/egovframework/com/wkp/NotoSansKR-Black-Hestia.otf) format('opentype');
}
body, input, textarea, select, button, .btn {font-weight:400;font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', '돋움', dotum, sans-serif !important;}
body {color:#666;line-height:1.7;position:relative;height:100%;min-height:100%;overflow-x:hidden;min-width:1230px;}
ul, li {list-style:none;padding:0;margin:0;}
a {color:#5b5b5b;text-decoration:none;}
a:focus, a:hover, a:active {color:#333;text-decoration:none;}
a.lnk_txt:hover {text-decoration:underline !important;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {margin:0;line-height:1.2;}
strong, th, b, .control-label {font-weight:500;}
label  {font-weight:400;}
p {margin:0;}
i, address, em {font-style:normal;}
a:focus, buttn:focus, label:focus, area:focus, .btn:focus, .pointer:focus, input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus, .form-control:focus, .dropdown-toggle:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {outline:none !important;}
.underline {text-decoration:underline;}
.mb_0 {margin-bottom:0 !important;}
.mb_5 {margin-bottom:5px !important;}
.mb_15 {margin-bottom:15px !important;}
.d-inline-block {display:inline-block !important;}
.btn {height:34px;padding:4px 18px 6px;font-size:14px;text-shadow:none;line-height:1.4444444;vertical-align:middle;border-radius:0;-webkit-box-shadow:none !important;box-shadow:none !important;border:none;
    -webkit-transition: opacity .3s ease, background-color .3s ease, color .3s ease, background .3s ease, border .3s ease;transition: opacity .3s ease, background-color .3s ease, color .3s ease, border .3s ease;
}
a.btn, .btn-group > a.btn {padding:5px 18px;line-height:1.666666 !important;}
.btn.btn-default {color:#fff !important;background-color:#61666d;border-color:#61666d;}
.btn i{position:relative;font-size:1.1em;opacity:.8;filter:alpha(opacity=80);margin:0 2px;}
.btn.btn-default{color:#fff!important;background-color:#61666d;}
.btn.active,.btn:active,.btn:hover,.btn.active,.btn.btn-default:hover,.btn.btn-default:active,.btn.btn-default.active{background-color:#71767c;}
.btn.btn-primary {background-color:#0051a4;border-color:#0051a4;}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.active {background-color:#004993;border-color:#004993;}
.btn.btn-success{color:#fff!important;background-color:#6bac40;}
.btn.btn-success:hover,.btn.btn-success:active,.btn.btn-success.active{background-color:#85BB59;}
.btn.btn-info{color:#fff!important;background-color:#0091d4;}
.btn.btn-info:hover,.btn.btn-info:active,.btn.btn-info.active{background-color:#13a6dd;}
.btn.btn-warning{color:#fff!important;background-color:#f39c12;}
.btn.btn-warning:hover,.btn.btn-warning:active,.btn.btn-warning.active{background-color:#eb7b04;}
.btn.btn-danger{color:#fff!important;background-color:#fd2c3f;}
.btn.btn-danger:hover,.btn.btn-danger:active,.btn.btn-danger.active{background-color:#fe4a5b;}
.btn.btn-black{color:#fff!important;background-color:#34384a;}
.btn.btn-black i{top:0!important;}
.btn.btn-black:hover,.btn.btn-black:active,.btn.btn-black.active{background-color:#494c5c;}
.btn.btn-blue {color:#fff;background-color:#118fff;border-color:#118fff;}
.btn-blue:hover, .btn-blue:active, .btn-blue.active {background:#0f80e5;border-color:#0f80e5;}
.btn-lg,.btn-group-lg > .btn{height:43px!important;font-size:16px!important;line-height:1.3333333!important;padding:10px 25px!important;}
a.btn-lg,.btn-group-lg > a.btn{line-height:1.5555555!important;}
.btn-sm,.btn-group-sm > .btn{height:30px!important;font-size:13px!important;line-height:1.5555555!important;padding:2px 14px 4px!important;}
a.btn-sm,.btn-group-sm > a.btn{line-height:1.7777777!important;}
.btn-xs,.btn-group-xs > .btn{height:25px!important;font-size:12px!important;line-height:1.2222222!important;padding:4px 12px!important;}
a.btn-xs,.btn-group-xs > a.btn{line-height:1.2222222!important;}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background-color:#1f8ceb;}
.tbl_btn {border:none;background:transparent;display:block;width:100%;}
.min-lg {min-width:140px;}
.min-md {min-width:80px;}
.row, .form-horizontal .form-group {margin-right:-5px;margin-left:-5px;}
.row>[class*=col-], .form-horizontal .form-group>[class*=col-] {padding-left:5px;padding-right:5px;}
.row.type0 {margin-left:0;margin-right:0;}
.row.type0 > [class*=col-] {padding-left:0;padding-right:0;}
.row.type20 {margin-left:-20px;margin-right:-20px;}
.row.type20 > [class*=col-] {padding-left:20px;padding-right:20px;}

.row {margin-right:-10px;margin-left:-10px;}
.row>[class*=col-] {padding-left:10px;padding-right:10px;}
.breadcrumb {padding:0;margin:0 0 15px;border-radius:0;background-color:transparent;letter-spacing:-.05em;}
.breadcrumb .active, .breadcrumb .active a {color:#2475d0;}
.breadcrumb i {color:#999;font-size:80%;margin-right:4px;}

.text-center {text-align:center !important;}

.text-primary, .text-primary a {color:#0051a4 !important;}
.text-danger, .text-danger a {color:#ff5252 !important;}
.text-success, .text-success a {color:#009033 !important;}
.text-warning, .text-warning a {color:#f5a11b !important;}
.text-info, .text-info a {color:#43c8c0 !important;}
.text-black, .text-black a {color:#333 !important;}
.text-purple, .text-purple a {color:#725ac1 !important;}
.text-pink, .text-pink a {color:#ff0071 !important;}
.text-blue, .text-blue a {color:#128eff !important;}
.text-muted {font-weight:200;color:#999;}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {padding:12px 8px;}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {padding:8px;}
.table-hover>tbody>tr {-webkit-transition:opacity .3s ease, background-color .3s ease, color .3s ease, box-shadow .3s ease, background .3s ease;transition:opacity .3s ease, background-color .3s ease, color .3s ease, box-shadow .3s ease, background .3s ease;}
.table-hover>tbody>tr:hover {background-color:#fbfbfb;}
.table-hover>tbody>tr.tr-danger {background-color: #fff4f2;}


.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-bottom-width:1px;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {border-color:#dbdbdb;}
.table {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top:2px solid #bbb;}
.table > thead > tr > th, .table > tbody > tr > th {text-align:center;background-color:#fbfbfb;color:#393939;}
.table > thead > tr > th, .table > tbody > tr > td,  .table > tbody > tr > th {vertical-align:middle;}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {background-color:#fbfbfb;}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {padding:7px 5px !important;font-size:13px;}
.table td.empty {padding-top:20px;padding-bottom:20px;}
.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {background-color:#fff4f2;}


.nav-tabs>li>a {line-height:1.4;background-color:#ddd;border-radius:4px 4px 0 0 !important;min-width:160px;text-align:center;-webkit-transition:opacity .3s ease, background-color .3s ease, color .3s ease,  border-color .3s ease, box-shadow .3s ease, background .3s ease;transition:opacity .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease, box-shadow .3s ease, background .3s ease;}
.tabs-sm.nav-tabs>li>a {min-width:90px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color:#fff;border-color:#0051a3 !important;background-color:#0051a3;}

.form-control {border-radius:2px;padding:6px 8px;box-shadow:none !important;outline:none !important;}
.form-control.inp_date {background:#fff url(/images/egovframework/mgt/wkp/ico_calenda.png) no-repeat 96% 50%;background-size:18px;padding-right:30px;}
.form-control.inp_time {background:#fff url(../img/ico_time.png) no-repeat 96% 50%;background-size:18px;padding-right:30px;}
.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {width:auto;}
.form-inline .form-control {display: inline-block !important;width: auto!important}
.form-inline .form-group {display: inline-block;margin-bottom: 0;vertical-align: middle;}
.form-inline .input-group {display: inline-table;vertical-align: middle;}
.checkbox, .radio {padding-left:0;}
input[type=checkbox], input[type=radio] {margin-top:5px;}
.radio-inline input[type=radio], .checkbox-inline input[type=checkbox] {margin-top:5px;margin-left:-18px;}
.checkbox.checkbox-inline,.radio.radio-inline{margin-top:0;}
.radio-inline.td_type, .check-inline.td_type {padding:0;margin:0 10px 16px 0;}
.radio-inline.td_type input[type="radio"], .radio-inline.td_type input[type="checkbox"] {margin:0;cursor:pointer;}
.checkbox .inp_wrap , .radio .inp_wrap {min-height:20px;padding-left:20px;cursor:pointer;}
.checkbox-inline, .radio-inline {margin-right:10px;}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {margin-left:0;margin-right:10px;}

.form-horizontal .control-label {padding-top:5px;text-align:right;}
.help-block {font-size:95%;letter-spacing:-.05em;line-height:1.4;color:#888;}
.help-block > i {margin-right:3px;font-size:110%;}
.timepicker-picker .btn {font-size:13px;}
.timepicker-picker .btn, .timepicker-picker .btn.active, .timepicker-picker .btn:active, .timepicker-picker .btn:hover {height:auto !important;padding:0 !important;color:#000 !important;border-radius:0 !important;border:none !important;background-color:#fff !important;}
.timepicker-picker .btn-primary, .timepicker-picker .btn-primary.active, .timepicker-picker .btn-primary:active, .timepicker-picker .btn-primary:hover {color:#fff !important;padding:5px 8px !important;border:1px !important;background-color:#337ab7 !important;}

.pagination {vertical-align:middle;margin:2px 0 10px;}
.pagination.pagination-sm {margin:2px 0 10px;}
.pagination > li > a,.pagination > li > span {color:#888;background-color:#fff;border:1px solid #ddd;}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {color:#23527c;background-color:#eee;border-color:#ddd;}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {color:#fff;background-color:#aaa;border-color:#aaa;}
.pagination-li > li {float:left;margin:0 1px;}
.pagination-li > li .form-control {padding-left:3px;padding-right:3px;}
.pagination-li > li:last-child {margin-right:0;}
.well{background-color:#fbfbfb;padding:15px;border-color:#e4e4e4;border-radius:2px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.well.well-white {background-color:#fff;border-color:#ddd;}
.well.well-primary {background-color:#f6fbff;border-color:#cee2f1;}
.well.well-primary.outline {background-color:#fff;border-color:#bdcbdb;}
.well-sm {padding:10px;margin-bottom:10px;}
.well.well-lg {padding:25px;}
.well.frm_well hr {margin-bottom:15px;}
.panel {border-radius:2px;-webkit-box-shadow:none;box-shadow:none;}
.panel .panel-title {color:#333;}
.panel-default>.panel-heading {background-color:#fbfbfb;}
.panel-primary, .panel-warning, .panel-danger, .panel-info {border-color:#e7ecf2; }
.panel-primary>.panel-heading, .panel-primary>.panel-footer {border-color:#e7ecf2;background-color:#f3f7fa;}
.panel-warning>.panel-heading, .panel-warning>.panel-footer {border-color:#e7ecf2;background-color:#fff8ee;}
.panel-danger>.panel-heading, .panel-danger>.panel-footer {border-color:#e7ecf2;background-color:#fff3f3;}
.panel-info>.panel-heading, .panel-info>.panel-footer {border-color:#e7ecf2;background-color:#ebf7f7;}
.panel-heading {padding:10px 15px 9px;border-top-left-radius:2px;border-top-right-radius:2px;}
.panel-heading .h6 {margin:0;}
.panel-sm {margin-bottom:15px;}
.panel-sm .panel-heading {padding:7px 15px 5px;}
.panel-sm .panel-title {font-weight:500;font-size:15px;letter-spacing:-.05em;}
.panel-sm .panel-body{min-height:59px;padding:10px;}
.panel-footer {background-color:#fcfcfc;}


.list-group-item  {-webkit-transition: all .3s ease;transition: all .3s ease;}
.list-group-item:first-child {border-top-left-radius:0;border-top-right-radius:0;border-top:none;}
.list-group-item:last-child {border-bottom-right-radius:0;border-bottom-left-radius:0;}
.list-group-item {padding-top:8px;padding-bottom:8px;border-left-width:0;border-right-width:0;border-radius:0;}
a.list-group-item:focus, button.list-group-item:focus {background-color:#fff;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {background-color:#1f8ceb;border-color:#1f8ceb;}

.modal-content {border-radius:0;}
.modal-header {color:#333;}
.modal-header .close {line-height:28px;text-shadow:none;filter: alpha(opacity=100);opacity: 1;}
.modal-footer.text-center .btn {margin:0 2px;}

.chk_tree_area .chk_tree_list .open, .edit_chk_area .chk_tree_list .open {display:block;}
.chk_tree_area .checkbox {margin-top:0;}
.chk_tree_area {height:300px;overflow:auto;margin-bottom:0;}
.modal-sm .chk_tree_area {height:200px;}
.chk_tree_list {overflow:hidden;margin-bottom:0;padding:0;}
.hummingbird-treeview ul:not(.hummingbird-base) {display:none;}
.hummingbird-treeview, .hummingbird-treeview * {line-height: 24px;}
.hummingbird-treeview input[type=checkbox] {margin-right:2px;position:relative;top:1px;}
.chk_tree_list > li li {margin-bottom:5px;}
.chk_tree_list .fa {display:inline-block;border:1px solid #ddd;background-color:#fff;width:32px;text-align:center;height:32px;line-height:32px;}
.chk_tree_list ul {padding-left:25px;margin-top:5px;}
.chk_tree_list .not_depth_list {padding-left:50px;}
.chk_tree_list li label {margin-left:4px;cursor:pointer;font-weight:400;}
.modal .nav-tabs {margin-bottom:10px;}
.modal .tab-content .well {margin-top:10px;}
.modal .tab-content {padding:0;}











